.content {
  position: relative;

  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.background {
  height: 80vh;
  position: absolute;
  left: -22em;
  top: 3em;
}

.info {
  color: #fefefe;
  width: 53%;
  margin-top: 3rem;
  margin-right: 10rem;
}

.repository {
  font-size: 2rem;
  color: #fefefe;
  margin: .75rem 0;
  text-align: center;
}